.btn-main, .btn-main-s {
  padding: 0.5rem 1rem;
  border-radius: 0.35rem;
  background-color: rgb(0, 82, 255);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 82, 255);
}
.btn-main:hover, .btn-main-s:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 82, 255);
}
.btn-main-s {
  font-size: 0.8rem;
  padding: 0.3rem 0.8rem;
}

.btn-sec, .btn-sec-s {
  padding: 0.5rem 1rem;
  border-radius: 0.35rem;
  color: rgb(108, 117, 125);
  background-color: transparent;
  border: 1px solid rgb(0, 82, 255);
}
.btn-sec:hover, .btn-sec-s:hover {
  color: rgb(136, 136, 136);
}
.btn-sec-s {
  font-size: 0.8rem;
  padding: 0.3rem 0.8rem;
}

.main-menu {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
.main-menu li {
  display: inline;
  font-size: 1rem;
  list-style: none;
  padding: 0 0.5rem;
}
.main-menu li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: 500;
}
.main-menu li:hover {
  text-decoration: underline;
}

.icon-md i {
  font-size: 2.5rem;
  padding: 1rem;
  color: rgb(0, 82, 255);
  border-radius: 50%;
  box-shadow: 0 8px 8px rgb(245, 247, 249);
}

.feature {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-items: stretch;
  align-items: center;
}
.feature .icon {
  color: rgb(0, 82, 255);
  font-size: 3.5rem;
}
.feature .description .title {
  font-size: 1.5rem;
}
.feature .description .text {
  color: rgb(100, 100, 100);
  font-size: 1.1rem;
  padding: 0 0.2rem;
}
.feature .call-to-action {
  color: rgb(0, 82, 255);
  font-weight: 500;
}

.icon-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon-description .icon {
  padding: 0;
  color: rgb(0, 82, 255);
  font-size: 2rem;
}
.icon-description .title {
  font-size: 1.2rem;
  font-weight: 600;
}
@media screen and (min-width: 1200px) {
  .icon-description .icon {
    font-size: 5rem;
  }
}

@media screen and (max-width: 1200px) {
  .xl-display-none {
    display: none;
  }
}
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background-color: rgb(254, 254, 255);
}

h3 {
  font-size: 1.5rem;
}

header {
  border-bottom: solid 1px #ddd;
}
header .nav {
  height: 4rem;
}
header .navbar-brand .logo {
  max-width: 9rem;
}
header .navbar-collapse {
  background-color: rgb(255, 255, 255);
  padding: 1rem;
}
header .get-started {
  padding: 0;
}
@media screen and (min-width: 1200px) {
  header .container-fluid {
    padding-left: 4%;
  }
}

.sec-home {
  display: flex;
  align-items: center;
  max-height: 100vh;
}
.sec-home .home-cta {
  flex: 1;
}
.sec-home .home-cta .cta-text {
  display: flex;
  color: rgb(0, 82, 255);
  font-weight: 500;
}
.sec-home .home-cta .cta-text .bi-currency-bitcoin {
  background-color: rgb(0, 82, 255);
  color: rgb(255, 255, 255);
  padding: 0.2rem;
  border-radius: 50%;
}
.sec-home .home-cta .cta-text .bi-currency-bitcoin::before {
  transform: rotate(13deg);
}
.sec-home .home-cta .cta-text > a {
  text-decoration: none;
}
.sec-home .home-cta .cta-title {
  font-weight: 600;
  margin-top: 1rem;
}
.sec-home .home-cta .cta-description {
  font-size: 1.2rem;
  font-weight: 600;
}
.sec-home .home-cta form input {
  width: 100%;
}
.sec-home .home-cta form button {
  margin-top: 1rem;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .sec-home .home-cta form {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sec-home .home-cta form input {
    flex: 1 1 70%;
  }
  .sec-home .home-cta form button {
    flex: 1 1 20%;
    margin: 0 0 0 1rem;
  }
}
.sec-home .cta-img {
  flex: 0.8;
}
@media (max-width: 1200px) {
  .sec-home .cta-img {
    display: none;
  }
}

.sec-benefits {
  width: 100%;
}
.sec-benefits .sec-intro {
  text-align: center;
}
.sec-benefits .sec-intro h2 {
  font-weight: 500;
}
.sec-benefits .sec-intro p {
  color: rgb(108, 117, 125);
}
.sec-benefits .benefit {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}
@media screen and (max-width: 1200px) {
  .sec-benefits .benefits-img {
    display: none;
  }
}

.sec-features {
  text-align: center;
  width: 100%;
}
.sec-features h2 {
  font-weight: 500;
}
.sec-features p {
  color: rgb(108, 117, 125);
}
.sec-features a {
  color: rgb(0, 82, 255);
  text-decoration: none;
}
.sec-features a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.sec-kpis {
  width: 100%;
  background-color: rgb(0, 82, 255);
}
.sec-kpis .kpi {
  font-weight: 600;
  padding: 1rem;
}
.sec-kpis .kpi .kpi-element {
  color: rgb(255, 255, 255);
  font-size: 3rem;
}
.sec-kpis .kpi p {
  color: rgba(255, 255, 255, 0.6);
}

.sec-onboarding {
  width: 100%;
}
.sec-onboarding .sec-intro {
  text-align: center;
}
.sec-onboarding .sec-intro h2 {
  font-weight: 500;
}
.sec-onboarding .sec-intro p {
  color: rgb(108, 117, 125);
}
.sec-onboarding hr {
  width: 15%;
}

.sec-promotion {
  background-color: rgb(245, 248, 255);
}
.sec-promotion .promotion-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 50%;
  padding: 0 10%;
}
.sec-promotion .promotion-cta .text-cta .cta-title {
  font-weight: 600;
  margin-top: 1rem;
}
.sec-promotion .promotion-cta .text-cta .cta-description {
  font-size: 1.2rem;
  font-weight: 600;
}
.sec-promotion .promotion-cta .btn-main {
  align-self: flex-start;
}
.sec-promotion .cta-img {
  flex: 0.8;
}
@media (max-width: 1200px) {
  .sec-promotion .cta-img {
    display: none;
  }
}

footer {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas: "brand-column" "about-us-column" "individuals-column" "assist-column" "resources-column" "developers-column";
}
footer .brand-column {
  grid-area: brand-column;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  color: rgb(108, 117, 125);
}
footer .brand-column .logo {
  max-width: 10rem;
}
footer .brand-column p {
  margin-bottom: 0.4rem;
}
footer .brand-column ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1rem;
  padding: 0;
}
footer .about-us-column {
  grid-area: about-us-column;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
}
footer .individuals-column {
  grid-area: individuals-column;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
}
footer .assist-column {
  grid-area: assist-column;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
}
footer .resources-column {
  grid-area: resources-column;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
}
footer .developers-column {
  grid-area: developers-column;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
}
footer a {
  cursor: pointer;
  text-decoration: none;
  color: rgb(108, 117, 125);
}
footer a:hover {
  color: rgb(108, 117, 125);
}
footer .validators {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
@media screen and (min-width: 1200px) {
  footer {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "brand-column about-us-column individuals-column assist-column resources-column developers-column";
  }
  footer .about-us-column {
    display: flex;
    align-items: flex-start;
    padding: 1rem;
  }
  footer .individuals-column {
    display: flex;
    align-items: flex-start;
    padding: 1rem;
  }
  footer .assist-column {
    display: flex;
    align-items: flex-start;
    padding: 1rem;
  }
  footer .resources-column {
    display: flex;
    align-items: flex-start;
    padding: 1rem;
  }
  footer .developers-column {
    display: flex;
    align-items: flex-start;
    padding: 1rem;
  }
}

/*# sourceMappingURL=styles.css.map */
