@use "constants";

@mixin btn-main {
    padding: 0.5rem 1rem;
    border-radius: 0.35rem;
}

@mixin btn-sm-modify {
    font-size: 0.8rem;
    padding: 0.3rem 0.8rem;
}

.btn-main {
    @include btn-main();
    background-color: constants.$primary-color;
    color: constants.$primary-text-color;
    border: 1px solid constants.$primary-color;

    &:hover {
        background-color: constants.$primary-text-color;
        color: constants.$primary-color;
    }

    &-s {
        @extend .btn-main;
        @include btn-sm-modify();
    }
}

.btn-sec {
    @include btn-main();
    color: constants.$secondary-text-color;
    background-color: constants.$secondary-color;
    border: none;

    &:hover {
        color: constants.$btn-sec-text-hover-color;
    }

    &-s {
        @extend .btn-sec;
        @include btn-sm-modify();
    }
}

.main-menu {
    display: flex;
    align-items: center;
    margin-bottom: 0;

    li {
        display: inline;
        font-size: 1rem;
        list-style: none;
        padding: 0 .5rem;

        a {
            color: rgb(0, 0, 0);
            text-decoration: none;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}

.icon-sm {
    i {
        font-size: 1.5rem;
        padding: .55rem;
        color: constants.$primary-color;
        border-radius: 50%;
        box-shadow: 0 0 10px constants.$icon-shadow-color;
    }
}

.feature {
    display: flex;
    flex-direction: column;
    text-align: center;

    .icon {
        color: constants.$primary-color;
        font-size: 5rem;
    }

    .description {
        .title {
            font-size: 2rem;
        }
        .text {
            color: rgba(100,100,100);
            font-weight: 600;
        }
    }

    .call-to-action {
        color: constants.$primary-color;
    }
}

.icon-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    .icon {
        padding: 0;
        color: constants.$primary-color;
        font-size: 5rem;
    }

    .title {
        font-size: 1.5rem;
        font-weight: 600;
    }
}