@use "constants";
@use "mixins";

.btn-main {
    @include mixins.btn-main();
    background-color: constants.$primary-color;
    color: constants.$primary-text-color;
    border: 1px solid constants.$primary-color;

    &:hover {
        background-color: constants.$primary-text-color;
        color: constants.$primary-color;
    }

    &-s {
        @extend .btn-main;
        @include mixins.btn-sm-modify();
    }
}

.btn-sec {
    @include mixins.btn-main();
    color: constants.$secondary-text-color;
    background-color: constants.$secondary-color;
    border: none;

    &:hover {
        color: constants.$btn-sec-text-hover-color;
    }

    &-s {
        @extend .btn-sec;
        @include mixins.btn-sm-modify();
    }
}

.main-menu {
    display: flex;
    align-items: center;
    margin-bottom: 0;

    li {
        display: inline;
        font-size: 1rem;
        list-style: none;
        padding: 0 .5rem;

        a {
            color: rgb(0, 0, 0);
            text-decoration: none;
            font-weight: 500;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}

.icon-md {
    i {
        font-size: 2.5rem;
        padding: 1rem;
        color: constants.$primary-color;
        border-radius: 50%;
        box-shadow: 0 8px 8px constants.$icon-shadow-color;
    }
}

.feature {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-items: stretch;
    align-items: center;

    .icon {
        color: constants.$primary-color;
        font-size: 3.5rem;
    }

    .description {
        .title {
            font-size: 1.5rem;
        }
        .text {
            color: rgba(100,100,100);
            font-size: 1.1rem;
            padding: 0 .2rem;
        }
    }

    .call-to-action {
        color: constants.$primary-color;
        font-weight: 500;
    }
}

.icon-description {
    display: flex;
    flex-direction: column;
    align-items: center;

    .icon {
        padding: 0;
        color: constants.$primary-color;
        font-size: 5rem;
    }

    .title {
        font-size: 1.2rem;
        font-weight: 600;
    }
}