@use "constants";
@use "mixins";

.btn-main {
    @include mixins.btn-main();
    background-color: constants.$primary-color;
    color: constants.$primary-text-color;
    border: none;


    &:hover {
        color: constants.$secondary-text-color;
        background-color: transparent;
        border: 1px solid constants.$primary-color;
    }

    &-s {
        @extend .btn-main;
        @include mixins.btn-sm-modify();
    }
}

.btn-sec {
    @include mixins.btn-main();
    color: constants.$secondary-text-color;
    background-color: constants.$secondary-color;
    border: none;

    &:hover {
        outline: 1px solid constants.$primary-color;
        box-shadow: 0 0 8px constants.$primary-color;
    }

    &-s {
        @extend .btn-sec;
        @include mixins.btn-sm-modify();
    }
}

.main-menu {
    display: flex;
    align-items: center;
    margin-bottom: 0;

    li {
        display: inline;
        font-size: 1rem;
        list-style: none;
        padding: 0 .5rem;

        a {
            color: rgb(0, 0, 0);
            text-decoration: none;
            font-weight: 500;
            background-color: transparent;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}

.icon-md {
    i {
        font-size: 2.5rem;
        padding: 1rem;
        color: constants.$primary-color;
        background-color: transparent;
        border-radius: 50%;
        box-shadow: 0 8px 8px constants.$icon-shadow-color;
    }
}

.feature {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-items: stretch;
    align-items: center;

    .icon {
        color: constants.$primary-color;
        background-color: transparent;
        font-size: 3.5rem;
    }

    .description {
        .title {
            font-size: 1.5rem;
        }

        .text {
            color: rgba(100, 100, 100);
            background-color: transparent;
            font-size: 1.1rem;
            padding: 0 .2rem;

            @media screen and (min-height: 768px) {
                width: 50ch;
            }
        }
    }

    .call-to-action {
        color: constants.$primary-color;
        background-color: transparent;
        font-weight: 500;
    }
}

.icon-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 1.5rem;

    .icon {
        color: constants.$primary-color;
        background-color: transparent;
        font-size: 4rem;

    }

    .title {
        font-weight: 600;
    }
}

@media screen and (max-width: 768px) {
    .xl-display-none {
        display: none;
    }
}