//Colors
$primary-color: rgb(0, 82, 255);
$secondary-color: transparent;
$background-color: rgb(254, 254, 255);
$background-promotion-section: rgb(245, 248, 255);

//Text colors
$primary-text-color: rgb(255, 255, 255);
$secondary-text-color: rgb(108, 117, 125);

//Button hover colors
$btn-sec-text-hover-color: rgb(136, 136, 136);

//Shadow colors
$icon-shadow-color: rgb(245, 247, 249);