//Colors
$primary-color: rgb(0, 82, 255);
$secondary-color: transparent;

//Text colors
$primary-text-color: rgb(255, 255, 255);
$secondary-text-color: rgb(0, 0, 0);

//Button hover colors
$btn-sec-text-hover-color: rgb(136, 136, 136);

//Shadow colors
$icon-shadow-color: rgba(0, 0, 0, .48);