//Colors
$primary-color: #005aec;
$secondary-color: transparent;
$background-color: #fefeff;
$background-promotion-section: rgb(245, 248, 255);

//Text colors
$body-text-color: rgb(0,0,0);
$primary-text-color: rgb(255, 255, 255);
$secondary-text-color: rgb(108, 117, 125);


//Shadow colors
$icon-shadow-color: rgb(245, 247, 249);