@use "constants";

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    min-height: 100vh;
}

header {
    width: 100%;

    .nav {
        display: flex;
        justify-content: space-around;
        align-content: center;
        height: 4rem;
        border-bottom: solid 1px #ddd;
    }

    .logo>a>img {
        max-width: 9rem;
        padding-top: 4.5%;
    }
}

.sec-home {
    display: flex;
    align-items: center;
    width: 100%;
    max-height: 100vh;

    .home-cta {
        flex: 1;

        .cta-text {
            display: flex;
            color: constants.$primary-color;
            font-weight: 500;

            .bi-currency-bitcoin {
                background-color: constants.$primary-color;
                color: constants.$primary-text-color;
                padding: .2rem;
                border-radius: 50%;

                &::before {
                    transform: rotate(13deg);
                }
            }

            &>a {
                text-decoration: none;
            }
        }

        .home-title {
            font-weight: 600;
            width: 20rem;
            margin-top: 1rem;
        }

        .home-description {
            font-size: 1.2rem;
            font-weight: 600;
        }
    }

    .home-img {
        flex: 1;
    }
}